<div class="add-order-item-form">
    <h2 mat-dialog-title>Dodaj artikal</h2>
    <mat-dialog-content [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>Šifra artikla</mat-label>
            <input matInput formControlName="itemCode">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Trebovana količina - transportna pakovanja</mat-label>
            <input type="number" matInput formControlName="orderedTp">
        </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button (click)="save()"></button>
        <button mat-raised-button (click)="close()">Zatvori</button>
    </mat-dialog-actions>
</div>
