@for(order of orders(); track order.id) {
    <mat-card class="mat-bg-surface-container">
        <mat-card-title>
            {{order.orderName}}
        </mat-card-title>

        <mat-card-content>
            <p>Broj porudžbine: {{order.orderNo}}</p>
            <p>Status: {{displayOrderState(order.state)}}</p>
            <p>Datum isporuke: {{order.deliveryDate | date: 'dd.MM.yyyy.'}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button matMiniFab (click)="goToOrderDetails(order.id)">
                <mat-icon>arrow_forward</mat-icon>
            </button>
            @if(role() === 'EXPORT' || role() === 'ADMIN') {

                <button matMiniFab (click)="onEditOrder(order)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="onDeleteOrder(order)" matMiniFab>
                    <mat-icon>delete_outline</mat-icon>
                </button>
            }
        </mat-card-actions>
    </mat-card>
}
