:host {
    flex-basis: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    border-right: 1px solid lightgray;
    box-shadow: 1px 0px 15px 1px lightgray;
    padding: 0 15px;
    box-sizing: border-box;
}



img {
    width: 170px;
    margin-bottom: 34px;
    margin-top: 34px;
}

.nav-card {
    /* border-bottom: 1px solid gray; */
    width: 90%;
    padding: 10px

}

.nav-card:hover:not(.nav-card-active) {
    background-color: rgb(211, 210, 210);
}

.nav-card-active {
    color: white;
    background-color: #1976d2;
    border: none;
    border-radius: 2px
}

.nav-card-inactive {
    color: lightgray
}