<!-- <div class="create-order-panel data-form">
    <h2 class="title">Kreiraj novo trebovanje</h2>
    <mat-horizontal-stepper 
        class="mat-elevation-z5" 
        [linear]="true"
        labelPosition="bottom"
    >
        <mat-step errorMessage="Greska">
            <ng-template matStepLabel>Detalji trebovanja</ng-template>
            <app-create-order-step-1 />
            <div class="stepper-buttons">
                <button mat-raised-button matStepperNext>Dodaj artikle</button>
            </div>
        </mat-step>
        <mat-step errorMessage="Greska">
            <ng-template matStepLabel>Poručeni artikli</ng-template>
            <app-create-order-step-2 />
                <div class="stepper-buttons">
                    <button mat-raised-button matStepperPrevious>Nazad</button>
                    <button mat-raised-button >Kreiraj Trebovanje</button>
                </div>
        </mat-step>
    </mat-horizontal-stepper>
</div> -->
<div [formGroup]="form" class="create-order-form">

    <mat-form-field appearance="outline">
        <mat-label>Naziv trebovanja</mat-label>
        <input matInput formControlName="orderName">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Broj trebovanja</mat-label>
        <input matInput formControlName="orderNo">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Datum trebovanja</mat-label>
        <input matInput formControlName="orderDate" [matDatepicker]="orderPicker">
        <mat-datepicker-toggle matSuffix [for]="orderPicker"></mat-datepicker-toggle>
        <mat-datepicker #orderPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Datum utovara</mat-label>
        <input matInput formControlName="deliveryDate" [matDatepicker]="deliveryPicker">
        <mat-datepicker-toggle matSuffix [for]="deliveryPicker"></mat-datepicker-toggle>
        <mat-datepicker #deliveryPicker></mat-datepicker>
    </mat-form-field>
    <button matButton="filled" (click)="createNewOrder()">Kreiraj trebovanje</button>
</div>