:host {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;

}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #1976d2;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #1976d2;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #1976d2;
}

.align-right {
    text-align: right;
}

.search-bar {
    width: 40%;
    border: 0px;
    border-bottom: 2px solid #1976d2;
    outline: none;
    caret-color: #1976d2;
    font-size: medium;
    background-color: transparent;
    transition: width 0.4s ease 0.1s;
    padding-left: 30px;
}

.search-bar:focus {
    width: 45%;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-container svg {
    margin-right: -25px;
    width: 25px;
    height: 25px;
}

.search-container svg path {
    fill: #1976d2;
}

.card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    max-height: 40px;
    width: 200px;
    margin: 20px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card:hover {
    transform: translateY(7px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  
  input[type="file"] {
    width: 0px;
    height: 0px;
  }