tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.table-actions {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 16px;
  width: 90vw;
  margin: auto;

  .export-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: center;


    mat-icon {
      font-size: 20px;
      height: 20px;
      width: 20px;
    }
  }
}

.table-container {

  height: calc(100vh - 64px - 100px);
  overflow: auto;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-top: 10px;

  table {

    button {
      margin-right: 5px;
      background-color: #bee0e5;
    }

    ::ng-deep .mat-mdc-header-row {
      background-color: #4A306D;
      color: whitesmoke;
    }


  }



}

.child-table {
  width: 100%;
  background-color: #a9f4db31;
  border-radius: 4px;
  overflow: hidden;
}

.child-table th {
  background-color: #ED9B40;
  color: rgb(17, 17, 23);
  font-weight: 500;
}

.filter {
  width: 300px;
  // margin-left: 85px;

  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: rgba(0, 255, 200, 0);
  }

  mat-label {
    color: black;

  }

}

.example-container {
  height: 500px;
  overflow-y: auto;
  width: 95vw;
}

.example-container table {
  width: 100%;
}



.fixed-col {
  width: 190px;
  /* fixed width */
  min-width: 190px;
  max-width: 190px;
  overflow: hidden;
  /* prevents overflow */
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fixed-col-1 {
  width: 250px;
  /* fixed width */
  min-width: 250px;
  max-width: 250px;
  overflow: hidden;
  /* prevents overflow */
  text-overflow: ellipsis;
  white-space: nowrap;
}