<div class="production-container">
  <h1>Proizvodnja</h1>
  @if(lastRefreshedAt()) {
    <div class="refresh-status">Stanje lagera od: {{ lastRefreshedAt() | date: 'HH:mm' }}</div>
  }
  <div class="form-container">
    @if(customers().length) {
    <mat-form-field>
      <mat-label>Selektuj kupca</mat-label>
      <mat-select [(value)]="selected">
        <mat-option value="all">Svi kupci</mat-option>
        @for(customer of customers(); track $index) {
        <mat-option [value]="customer">{{customer}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    }
    <app-date-range (rangeUpdated)="onRangeUpdated($event)" />
  </div>
  <app-production-items-table [productionItems]="groupedData()" [normativMap]="normativMap()" />
</div>