<h1>Nabavka</h1>
@if(lastRefreshedAt()) {
  <div class="refresh-status">Stanje lagera od: {{ lastRefreshedAt() | date: 'HH:mm' }}</div>
}
@if(!orderId()) {
    <div class="form-container">
         @if(customers().length) {
      <mat-form-field>
        <mat-label>Selektuj kupca</mat-label>
        <mat-select multiple [(value)]="selected">
          @for(customer of customers(); track $index) {
              <mat-option [value]="customer">{{customer}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
    @if(selected().length > 0 && orderOptions().length) {
      <mat-form-field>
        <mat-label>Selektuj trebovanje</mat-label>
        <mat-select multiple [(value)]="selectedOrders">
          @for(opt of orderOptions(); track opt.id) {
              <mat-option [value]="opt.id">{{opt.label}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
    <app-date-range (rangeUpdated)="onRangeUpdated($event)"/>
</div>
}

<app-supply-items-table 
    [supplyItems]="supplyItemsForDisplay()"
    [orderId]="orderId()"
/>
