button {
  margin-left: 5px;
}

.table-container {
  // position: relative;
  margin-left: 40px;
  margin-right: 40px;

  table {
    // padding: 10px;
    // margin-bottom: 20px;

    button {
      margin-right: 5px;
      margin-bottom: 5px;
      background-color: #bee0e5;
      width: 15;
    }

    th,
    td {
      max-width: 400px;
    }
  }

  ::ng-deep .mat-mdc-header-row {
    background-color: #4A306D;
    color: white;
  }

  ::ng-deep .mat-sort-header-arrow {
    color: #fff;
  }

  .table-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    width: 90vw;


    .filter {
      width: 300px;
      margin-left: 85px;

      ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: rgba(0, 255, 200, 0);
      }

      mat-label {
        color: black;

      }

    }

    .export-btn {
      display: flex;
      align-items: center;
      gap: 8px;
      align-self: center;

      mat-icon {
        font-size: 20px;
        height: 20px;
        width: 20px;
      }
    }
  }
}

::ng-deep .mat-mdc-row.completed {
  background-color: #ffff00;
}

// ::ng-deep .mat-mdc-row.active {
//   // background-color: #ebebe8;
//   // border-left: 4px solid #2196f3;
// }

::ng-deep .mat-mdc-row.status-delivered {
  background-color: #e8f5e9;
  border-left: 4px solid #4caf50;
}

.example-container {
  height: 500px;
  overflow-y: auto;
  width: 95vw;
}

.example-container table {
  width: 100%;
}

cdk-virtual-scroll-viewport {
  margin-bottom: 30px;
}

.fixed-col {
  width: 190px;       /* fixed width */
  min-width: 190px;
  max-width: 190px;
  overflow: hidden;   /* prevents overflow */
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fixed-col-1 {
  width: 250px;       /* fixed width */
  min-width: 250px;
  max-width: 250px;
  overflow: hidden;   /* prevents overflow */
  text-overflow: ellipsis;
  white-space: nowrap;
}