@if(orderItems(); as items) {
  @if(items.length > 0) {
        <table mat-table class="mat-elevation-z8" [dataSource]="orderItems()">

                <ng-container matColumnDef="productCode">
                        <th mat-header-cell *matHeaderCellDef>Šifra Artikla</th>
                        <td mat-cell *matCellDef="let orderItem">{{orderItem.productId?.productCode}}</td>
                </ng-container>
                <ng-container matColumnDef="productName">
                        <th mat-header-cell *matHeaderCellDef>Naziv artikla</th>
                        <td mat-cell *matCellDef="let orderItem">{{orderItem.productId?.productName}}</td>
                </ng-container>
                <ng-container matColumnDef="unitOfMeasure">
                        <th mat-header-cell *matHeaderCellDef>Jed. mere</th>
                        <td mat-cell *matCellDef="let orderItem">{{orderItem.productId?.unitOfMeasure}}</td>
                </ng-container>x
                <ng-container matColumnDef="unitsInTransportBox">
                        <th mat-header-cell *matHeaderCellDef>JM u TP</th>
                        <td mat-cell *matCellDef="let orderItem">
                                {{orderItem.productId?.unitsInTransportBox}}
                        </td>
                </ng-container>
                <ng-container matColumnDef="orderedQuantityTp">
                        <th mat-header-cell *matHeaderCellDef>Trebovano u TP</th>
                        <td mat-cell *matCellDef="let orderItem">{{orderItem?.numberOfOrderedTp}}</td>
                </ng-container>
                <ng-container matColumnDef="readyQuantity">
                        <th mat-header-cell *matHeaderCellDef>Odvojeno TP</th>
                        <td mat-cell *matCellDef="let orderItem">{{orderItem?.numberOfReadyTp}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Akcije</th>
                        <td mat-cell *matCellDef="let orderItem">
                                <button matMiniFab (click)="onEditOrderItem(orderItem, 'add')">
                                        <mat-icon>add</mat-icon>
                                </button>
                                <button matMiniFab (click)="onEditOrderItem(orderItem, 'delete')">
                                        <mat-icon>remove</mat-icon>
                                </button>
                                <button matMiniFab (click)="onDeleteOrderItem(orderItem?._id)">
                                        <mat-icon>delete</mat-icon>
                                </button>
                        </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let orderItem; columns: displayedColumns"></tr>
        </table>
    }
}