
mat-sidenav mat-icon {
    margin-right: 10px;
}

span {
    margin-left: 30px;
}

mat-sidenav-container {
  background: #a9cff48c;
    
}

:host ::ng-deep mat-sidenav-content {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:host ::ng-deep mat-sidenav-content::-webkit-scrollbar {
  display: none;
}

mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    background: #52796F;
    button {
        mat-icon {
            color: white;
        }
    }

    span {
        margin-left: 30px;
        font-size: larger;
        padding: 5px;
            color: #ffffff;
            font-weight: 500;


        &:hover {
            translate: -1px -1px;
            border-radius: 8px;
            cursor: pointer;
        }
        &:active {
            translate: 1px 1px;

        }
    }

                .user {
                    position: absolute;
                    right: 10px;
                    display: flex;
                    align-items: center;
                    mat-icon {
                        color: rgb(71, 16, 71);
                        margin-right: 5px;
                        width: 24px;
                    }
                  
        }
}

