mat-card {
    width: 250px;
    margin: 30px 40px;
    padding: 15px 0;
    background-color: #4a306d;
    color: whitesmoke;
}

mat-card-title {
    font-size: x-large;
    margin: auto;
}

mat-card-subtitle {
    font-size: medium;
    color: whitesmoke;
    margin: 10px auto;

}

mat-card-actions {
    margin: auto;
}

button {
    margin: 0 5px;
    background-color: #52796F;
    
    &:hover {
    translate: -1px -1px;
    }
        &:active {
    translate: 1px 1px;
    }
    mat-icon {
        color: white;
        
    }
}

mat-card-content {
    text-align: center;
    margin-bottom: 10px;
}

:host {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding-left: 55px;
}