<div class="form-container" [formGroup]="form">
        <h2>Unos fizičkog stanja</h2>
        <mat-form-field appearance="outline">
                <mat-label>Šifra sirovine / ambalaže</mat-label>
                <input matInput formControlName="reproCode" />
        </mat-form-field>
        <mat-form-field appearance="outline">
                <mat-label>Fizičko stanje u JM</mat-label>
                <input type="number" matInput formControlName="quantity" />
        </mat-form-field>
        <button matButton="filled" (click)="onSave()">Sačuvaj</button>
</div>
<app-xml-reader />

<div class="import-container-material" [style]="'display:none'">
        <h2>Import iz Robnog</h2>

        <!-- Hidden file input -->
        <input type="file" #fileInput class="file-input-hidden" (change)="onFileSelected($event)"
                accept=".xlsx, .xls" />

        <!-- Styled button -->
        <button class="upload-btn" (click)="fileInput.click()">
                <mat-icon>upload_file</mat-icon>
                Odaberite Excel fajl
        </button>

        <!-- Show selected file info -->
        @if(selectedFileName) {
        <div class="file-info">
                <div class="selected-file">
                        <mat-icon>description</mat-icon>
                        <span>{{ selectedFileName }}</span>
                        <mat-icon class="clear-file" (click)="clearFile(); $event.stopPropagation()">close</mat-icon>
                </div>
        </div>
        }
</div>


@if(reproItems().length > 0) {
<div class="table-container">
        <table mat-table class="mat-elevation-z8" [dataSource]="reproItems()">

                <ng-container matColumnDef="reproCode">
                        <th mat-header-cell *matHeaderCellDef>Šifra Artikla</th>
                        <td mat-cell *matCellDef="let reproItem">{{reproItem.reproCode}}</td>
                </ng-container>
                <ng-container matColumnDef="reproName">
                        <th mat-header-cell *matHeaderCellDef>Naziv artikla</th>
                        <td mat-cell *matCellDef="let reproItem">{{reproItem.reproName}}</td>
                </ng-container>
                <ng-container matColumnDef="unitOfMeasure">
                        <th mat-header-cell *matHeaderCellDef>Jed. mere</th>
                        <td mat-cell *matCellDef="let reproItem">{{reproItem.reproUnitOfMeasure}}</td>
                </ng-container>x
                <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef>Trenutno stanje</th>
                        <td mat-cell *matCellDef="let reproItem">
                                {{reproItem.quantity}}
                        </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let reproItem; columns: displayedColumns"></tr>
        </table>
</div>
}